<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        const currentDateTime = new Date();
        const hours = currentDateTime.getHours();
        const minutes = currentDateTime.getMinutes();
        const seconds = currentDateTime.getSeconds();
        const day = currentDateTime.getDate();
        const month = currentDateTime.getMonth() + 1;
        const year = currentDateTime.getFullYear();

        console.log(`Thời gian hiện tại: ${hours}:${minutes}:${seconds} - Ngày: ${day}/${month}/${year}`);
    </script>
</body>
</html>